//══════════════════════════════════════
//         FLEXBOX GRID SYSTEM
//══════════════════════════════════════

.container {
  min-width: $container-min-width;
  max-width: $container-max-width;
  background-color: $white;
  @include block-centered(block);
  @include column-spacing(null, null, 10px);
  @include mq(landscape) {
    @include column-spacing(null, null, 40px);
  }
}

.grid__row {
  @include flex-container(flex, space-between, wrap);
}

.grid__col {
  @include mq(tablet) {
    @include g-columns;
  }
}

