//══════════════════════════════════════
//              HEADER STYLES
//══════════════════════════════════════

header {
  @include row-spacing(null,null,20px);
  @extend %center-text;
  h3 {
    text-transform: uppercase;
    font-weight: $font-weight--medium;
    color: $tundora;
    letter-spacing: 1px;
    font-size: $base__font-size - 2;
    width: 100%;
    @extend %grow;
    @include mq(landscape) {
      font-size: $base__font-size + 2;
    }
    @include mq(tablet) {
      font-size: $base__font-size + 4;
    }
    @include mq(desktop) {
      font-size: $base__font-size + 6;
    }
  }
  input {
    width: 300px;
    height: 30px;
    color: darken($dove-gray, 18%);
    font-weight: $font-weight--thin;
    font-size: $base__font-size - 2;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lighten($silver, 5%);
    background-image: url('../images/search-indicator-magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 98% 50%;
    @extend %block-element;
    @extend %center-element;
    &::placeholder {
      font-size: $base__font-size - 2;
      color: #778899;
      font-weight: $font-weight--thin;
      font-style: italic;
    }
    @include mq(landscape) {
      border-radius: 10px;
      height: 40px;
    }
  }
}