//══════════════════════════════════════
//           DEFUALT STYLES
//══════════════════════════════════════

* {
	box-sizing: border-box;
}

html {
	background-image: url(../images/grey.png);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
